*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.grand-parent{
    padding: 100px;
    background-color: black;
}


.parent{
    padding: 70px;
    margin: 70px;
    background-color: brown;
}


.child{
    padding: 50px;
    margin: 50px;
    background-color: aquamarine;
}