*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

/* .grand-parent{
    padding: 100px;
    background-color: black;
}


.parent{
    padding: 70px;
    margin: 70px;
    background-color: brown;
}


.child{
    padding: 50px;
    margin: 50px;
    background-color: aquamarine;
} */


.container{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;
    padding: 150px;
}


.box{
    background-color: brown;
    color: white;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}